Architecture: iphoneos-arm
Author: classicxii
Depiction: https://Arep0.github.io/depictions/?p=com.Arep0.classicxiiiWtest
Description: classicxiiiW-Test
Maintainer: classicxii <classicxii@tuta.io>
Name: classicxiiiWtest
Package: com.Arep0.classicxiiiWtest
Section: Lockscreen Widgets
Version: 1.0.1
