Architecture: iphoneos-arm
Author: Arep0
Depiction: https://Arep0.github.io/depictions/?p=com.Arep0.icons
Description: Adds Icon Images
Maintainer: Arep0 <reponame@example.com>
Name: icons
Package: com.Arep0.icons
Section: MTweaks
Version: 1.0.1
