Architecture: iphoneos-arm
Author:  NsBm0d 
Description: Crystal Apple Theme
Depiction: https://Nrepo.github.io/depictions/?p=com.Nrepo.NsB
Maintainer:  NsBm0d  <NsBm0d@LIVE.com>
Name: NsB
Package: com.Nrepo.NsB
Section: aThemes
Version: 1.0.2
